* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -98%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(-50%, -96%, 0) rotate(180deg);
  }
  100% {
    transform: translate3d(-50%, -98%, 0) rotate(360deg);
  }
}
@keyframes waves {
  0% {
    transform: translate3d(-50%, -98%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(-50%, -96%, 0) rotate(180deg);
  }
  100% {
    transform: translate3d(-50%, -98%, 0) rotate(360deg);
  }
}
@-webkit-keyframes butlockeffect {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes butlockeffect {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  color: rgb(4, 3, 3);
  font-size: 20px;
  position: relative;
}

.pageheader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(122, 96, 249);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageheader__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0 100px;
  justify-content: space-between;
}
.pageheader__logo img {
  display: block;
  width: 50px;
  height: 50px;
}
.pageheader__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pageheader__link a {
  color: rgb(4, 3, 3);
  display: block;
  transition: all 0.1s linear;
  font-size: 30px;
}
.pageheader__link a:hover {
  color: #3e2f2f;
  transform: scale(105%);
  font-weight: 500;
}

.pagebody {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.pagebody__title {
  text-align: center;
  font-size: 50px;
  margin: 30px;
}

.pagecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-items: flex-start;
}
.pagecontent .buttonocean {
  background-color: aqua;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 350px;
  height: 100px;
  flex-shrink: 0;
}
.pagecontent .buttonocean::before, .pagecontent .buttonocean::after {
  content: "";
  display: block;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 400%;
  padding-top: 400%;
  border-radius: 47%;
  top: 0;
  left: 50%;
  z-index: 2;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
  transition: top 3s linear;
}
.pagecontent .buttonocean::after {
  -webkit-animation: waves 15s infinite linear;
          animation: waves 15s infinite linear;
  border-radius: 44%;
  background-color: rgb(177, 250, 250);
  z-index: 1;
}
.pagecontent .buttonocean:hover::before, .pagecontent .buttonocean:hover::after {
  top: -80%;
}
.pagecontent .buttonocean__text {
  position: relative;
  z-index: 10;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.pagecontent .buttonlock {
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100px;
  flex-shrink: 0;
  margin: 70px auto;
}
.pagecontent .buttonlock::before, .pagecontent .buttonlock::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: rgb(6, 147, 171);
  border-radius: 20px 0 0 20px;
}
.pagecontent .buttonlock::before {
  border-radius: 20px 0 0 20px;
}
.pagecontent .buttonlock::after {
  border-radius: 0 20px 20px 0;
  left: 50%;
}
.pagecontent .buttonlock:hover .buttonlock__effect {
  left: 100%;
  opacity: 0;
  z-index: 0;
}
.pagecontent .buttonlock__effect {
  position: absolute;
  top: -50px;
  left: 50px;
  transition: all 1s ease-out;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(229, 100, 8);
  -webkit-animation: butlockeffect 8s infinite linear;
          animation: butlockeffect 8s infinite linear;
}
.pagecontent .buttonlock__effect::before, .pagecontent .buttonlock__effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(229, 100, 8);
  -webkit-animation: butlockeffect 5s infinite linear;
          animation: butlockeffect 5s infinite linear;
}
.pagecontent .buttonlock__effect::after {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.pagecontent .buttonlock__text {
  position: relative;
  z-index: 10;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.pagecontent__img {
  display: block;
}
.pagecontent__img img {
  width: 350px;
}
.pagecontent__text {
  position: relative;
  z-index: 10;
  font-size: 25px;
  word-spacing: 5px;
  align-self: center;
}

.pagefooter {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(122, 96, 249);
  padding: 30px;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.sponsor__logo {
  display: block;
}
.sponsor__logo img {
  width: 50px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media (max-width: 780px) {
  .pageheader__menuicon {
    width: 50px;
    height: 50px;
    border-top: none;
    border-bottom: none;
    position: relative;
    z-index: 1;
  }
  .pageheader__menuicon::before, .pageheader__menuicon::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 253, 253);
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateZ(45deg);
    transition: transform 0.5s linear;
  }
  .pageheader__menuicon::before {
    transform: rotateZ(-45deg);
  }
  .pageheader__menuicon.close {
    border-top: 4px solid rgb(255, 253, 253);
    border-bottom: 4px solid rgb(255, 253, 253);
  }
  .pageheader__menuicon.close::before, .pageheader__menuicon.close::after {
    transform: rotateZ(0);
  }
  .pageheader__nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    background-color: rgb(122, 96, 249);
    transition: transform 0.5s linear;
  }
  .pageheader__nav.close {
    transform: translateY(-120%);
  }
  .pageheader__menu {
    flex-direction: column;
  }
  .pageheader__link {
    margin-top: 30px;
    border: 2px solid rgb(4, 3, 3);
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .pagebody .pagecontent {
    flex-direction: column;
    align-items: center;
  }
  .pagebody .pagecontent__text {
    text-align: center;
  }
  .contact {
    flex-direction: column;
  }
}