// /*include reset style*/
@import "nullstyle";

//page mixin
@mixin flex() { // @include flex();
    display: flex;
    justify-content: center;
    align-items: center;
}

//page constant
$pagecolor: rgb(122, 96, 249);
$txtcolor: rgb(4, 3, 3);

//page animation
@keyframes waves {
    0% {
        transform: translate3d(-50%, -98%, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(-50%, -96%, 0) rotate(180deg);
    }
    100% {
        transform: translate3d(-50%, -98%, 0) rotate(360deg);
    }
}

@keyframes butlockeffect {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



// page style
body{
    color: $txtcolor;
    font-size: 20px;
    position: relative;
}

.pageheader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    height: 100px;
    background-color: $pagecolor;
    @include flex();
    // .pageheader__content

    &__content {
        @include flex();
        width: 100%;
        margin: auto;
        padding:0 100px;
        justify-content: space-between;
    }

    // .pageheader__logo

    &__logo {

        img {
            display: block;
            width: 50px;
            height: 50px;
        }
    }

    // .pageheader__menu

    &__menu {
        @include flex();
        gap: 20px;
    }

    // .pageheader__link

    &__link {
        a {
            color: $txtcolor;
            display: block;
            transition: all 0.1s linear;
            font-size: 30px;
            &:hover {
                color: lighten($color: $txtcolor, $amount: 20%);
                transform: scale(105%);
                font-weight: 500;
            }
        }
    }
}

.pagecontent {
    position: relative;
}

.pagebody {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 1200px;
    width: 100%;
    padding: 30px;
    @include flex();
    flex-direction: column;
    // .pagebody__title

    &__title {
        text-align: center;
        font-size: 50px;
        margin: 30px;
    }
}

.pagecontent {
    @include flex();
    gap: 30px;
    width: 100%;
    height: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
    // buttonocean
    .buttonocean {
        background-color: aqua;
        border-radius: 20px;
        position: relative;
        @include flex();
        overflow: hidden;
        width: 350px;
        height: 100px;
        flex-shrink: 0;

            // befor and after effect hvyli
            &::before, &::after {
                content: "";
                display: block;
                background-color: rgb(255, 255, 255);
                position: absolute;
                width: 400%;
                padding-top: 400%;
                border-radius: 47%;
                top: 0;
                left: 50%;
                z-index: 2;
                animation: waves 10s infinite linear ;
                transition: top 3s linear;
            }
            &::after {
                animation: waves 15s infinite linear;
                border-radius: 44%;
                background-color: rgb(177, 250, 250);
                z-index: 1;
            }

            &:hover::before, &:hover::after {
                top: -80%;
            }
    
            // .buttonocean__text
            &__text {
                position: relative;
                z-index: 10;
                font-size: 50px;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }
    // buttonlock
    .buttonlock {
        border-radius: 20px;
        position: relative;
        @include flex();
        width: 350px;
        height: 100px;
        flex-shrink: 0;
        margin: 70px auto;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 50%;
            height: 100%;
            background-color: rgb(6, 147, 171);
            border-radius: 20px 0 0 20px;
        }

        &::before {
            border-radius: 20px 0 0 20px;
        }
        
        &::after {
            border-radius: 0 20px 20px 0;
            left: 50%;
        }
        
        &:hover .buttonlock__effect {
            left: 100%;
            opacity: 0;
        }

        // effect
        &__effect {
            position: absolute;
            top: -50px;
            left: 50px;
            transition: all 1s ease-out;
            width: 200px;
            height: 200px;
            border: 5px solid rgb(229, 100, 8);
            animation: butlockeffect 8s infinite linear;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
                height: 200px;
                border: 5px solid rgb(229, 100, 8);
                animation: butlockeffect 5s infinite linear;
            }

            &::after {
                animation-duration: 7s;
            }
        }

        // .buttonocean__text
        &__text {
            position: relative;
            z-index: 10;
            font-size: 50px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }

    // .pagecontent__img

    &__img {
        display: block;
        height: 100%;
        img {
            display: block;
            height: 100%;
        }
    }

    // .pagecontent__text

    &__text {
        position: relative;
        z-index: 10;
        font-size: 25px;
        word-spacing: 5px;
        align-self: center;
    }
}

.pagefooter {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    @include flex();
    flex-direction: column;
    background-color: $pagecolor;
    padding: 30px;
}

.sponsor {
    @include flex();
    gap: 30px;
    margin-bottom: 30px;

    // .sponsor__logo

    &__logo {
        display: block;
        img {
            width: 50px;
        }
    }
}

.contact {
    @include flex();
    gap: 50px;
}

@media (max-width: 780px) {
    .pageheader {
    height: 70px;
        &__menuicon {
            width: 50px;
            height: 50px;
            border-top: none;
            border-bottom: none;
            position: relative;
            z-index: 1;
            &::before, &::after{
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                background-color: rgb(255, 253, 253);
                position: absolute;
                top: 50%;
                left: 0;
                transform: rotateZ(45deg);
                transition: transform 0.5s linear;
            }
            &::before {
                transform:rotateZ(-45deg);
            }
        }

        &__menuicon.close{
            border-top: 4px solid rgb(255, 253, 253);
            border-bottom: 4px solid rgb(255, 253, 253);
            &::before,
            &::after {
                transform: rotateZ(0);
            }
        }
        // .pageheader__nav

        &__nav {
            position: absolute;
            width: 100%;
            left: 0;
            top: 70px;
            background-color: $pagecolor;
            transition: transform 0.5s linear;
            height: calc(100vh - 70px);
        }

        &__nav.close {
            transform: translateY(-120%);
        }

        // .pageheader__menu

        &__menu {
            flex-direction: column;
        }

        // .pageheader__link

        &__link {
            margin-top: 10px;
            border: 2px solid $txtcolor;
            width: 100%;
            padding: 10px;
            text-align: center;
            a{
                font-size: 20px;
            }
        }
    }

    .pagebody{
        .pagecontent{
            flex-direction: column;
            align-items: center;
            &__text {
                text-align: center;
            }
        }
    }
    .pagecontent {
        @include flex();
        gap: 10px;
        transition: all 1s ease-in-out;
        flex-direction: column;
        align-items: center;

        // buttonocean
        .buttonocean {
            width: 250px;
            height: 70px;

            // .buttonocean__text
            &__text {
                font-size: 30px;
                letter-spacing: 5px;
            }
        }

        // buttonlock
        .buttonlock {
            width: 250px;
            height: 70px;
            margin: 50px auto;

            &::before,
            &::after {
                width: 52%;
            }

            // effect
            &__effect {
                position: absolute;
                top: -30%;
                left: 20%;
                transition: all 1s ease-out;
                width: 120px;
                height: 120px;
                border: 5px solid rgb(229, 100, 8);
                animation: butlockeffect 8s infinite linear;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 120px;
                    height: 120px;
                    border: 5px solid rgb(229, 100, 8);
                    animation: butlockeffect 5s infinite linear;
                }

                &::after {
                    animation-duration: 7s;
                }
            }

            // .buttonocean__text
            &__text {
                position: relative;
                z-index: 10;
                font-size: 30px;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }

        // .pagecontent__img

        &__img {
            display: block;
            height: 100%;

            img {
                display: block;
                height: 100%;
            }
        }

        // .pagecontent__text

        &__text {
            position: relative;
            z-index: 10;
            font-size: 18px;
            word-spacing: 3px;
            align-self: center;
        }
    }

    .pagefooter {
        padding: 10px;
    }

    .sponsor {
        margin-bottom: 10px;
        // .sponsor__info

        &__info {}

        // .sponsor__logo

        &__logo {}
    }

    .contact {
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        // .contact__email

        &__email {}

        // .contact__tell

        &__tell {}
    }
}
